# Terraform state
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Sensitive variable files

example.auto.tfvars

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.swp
*.swo

# Lambda build artifacts
.build/

# Logs
*.log

# Terratest
vendor/
